header, footer{
    grid-area: header;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background: #222;
    color:#9d9d9d;
    font-size: 1.5em;
  }
.bg-primary {
    background-color: #007bff;
}
.bg-warning {
    background-color: #dd9105;
}

.bg-danger {
    background-color: #dc3545;
}
.bg-info {
    background-color: #17a2b8;
}

.white-color{
    color:white;
}

.table-bordered {
    border: 1px solid #dee2e6;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background: #fff;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background: #1b262c;
    color: white;
    
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 1rem;
}
th {
    text-align: inherit;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700px;
}
.lgc-bg {
    background-color: #0f4c81;
    
}
.label-text{
    color:#fff !important;
    font-size: 1rem;
}


lightning-input.label-text.slds-form-element label {
    color: #fff;
}

/**table colors**/
.activeColumnClass{
    background-color:#fe346e;
    color:#fff;
}

.countryName{
    font-size: 1.5rem;
    font-weight: 700;
}

.infinite-table {
    height: 300px;
    overflow: auto;
  }